body {
  padding: 0%;
  margin: 0%;
  font-family: "Poppins", sans-serif;
}
.Header {
  display: flex;
  background-image: url(images/shapes/Frame\ 57.jpg);
  background-size: cover;
}
.text {
  width: 50%;
  padding: 7%;
  margin-top: 3%;
}
h1 {
  font-size: 50px;
}
span {
  color: orange;
}
p {
  color: rgb(116, 112, 112);
  font-size: 20px;
}
.image {
  width: 50%;
  padding: 5%;
}
.image img {
  width: 100%;
}
.btn {
  font-weight: bold;
  color: white;
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 30px;
  border-radius: 30px;
}
.my-information {
  display: flex;
  background-image: url(images/shapes/Frame\ 59.jpg);
  background-size: cover;
}
#about-me {
  color: rgb(83, 81, 81);
}
#image-two {
  width: 90%;
}
.top-text {
  text-align: center;
}
.body {
  display: flex;
  margin-top: 3%;
}
.box-1 {
  width: 40%;
  margin-left: 7%;
}
.box-1 img {
  width: 100%;
}
.box-2 {
  width: 40%;
  margin-left: 7%;
}
.box-2 img {
  width: 100%;
}
.body h1 {
  font-weight: 2em;
}
.body p {
  text-align: justify;
}

footer {
  background-color: black;
  height: 250px;
  text-align: center;
  padding: 10px;
}
footer h2 {
  color: grey;
}
footer p {
  color: rgba(33, 102, 122, 0.986);
}
